@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding:0 ;
}
body{
    font-family:'ROBOTO',sans-serif;
}

header{
    background-color: #1F2937;
    padding : 1em 13em;
}
#logo{
    font-size: 24px;
    color: #F9FAF8;
}

.nav{
display: flex;
justify-content: space-between;
align-items: baseline;
}
.nav ul{
    list-style-type: none;
    display: flex;
    gap:20px;
}
.secondary,
a:link{
    color:#E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.welcome {
    padding: 7em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.welcome .left{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.welcome .right{
    flex-shrink:0;
    width:50%;
}
.hero{
    font-size: 48px;
    color:#F9FAF8;
    font-weight:900;
}

 button{
    padding:7px 1em;
    width:120px;
    background-color: #3882F6;
    border-radius: 8px;
}
welcome button{
    border:none;
}

.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}
